

.Header {
    display: flex;
    justify-content: space-between;
}

.Header span {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

.Header i {
    padding: 20px;
    cursor: pointer;
}

