.Wrapper {
  max-width: 1500px;
  position: absolute;
  top: 050px;
  left: 0;
  right: 0;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #00142d;
  min-height: 100%;
  /* box-shadow: 1px 6px 5px 6px #001833; */
  padding-bottom: 30px;
}
