.Container {
  padding-left: 30px;
  padding-right: 30px;
}

.Container h1{
  padding-left: 25px;
}

.Container h3{
  text-align: center;
}

.Slider {
  outline: none;
}

.Slider img{
  margin: auto;
  box-shadow: 0 8px 6px -6px black;
  cursor: pointer;
  transition: 0.3s;
}

.Slider h3 {
  text-align: center;
}

.Slider img:hover {
  opacity: 0.8;
}


