.SearchPage {
  display: flex;
  flex-direction: column;
}

.SearchPage h1 {
  text-align: center;
}

.SearchPage input {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  height: 30px;
  font-size: 25px;
  border: 2px solid #bebebe;
  border-radius: 10px;
  margin-bottom: 40px;
}
