.Header {
  width: 100%;
  min-height: 70px;
  background: #384259;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.Header a {
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.Header span {
  /* padding: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #fff; */
  margin: auto;
  font-size: 40px;
  color: #fff;

}
